/* .welcomeSection {
  width: 100%;
  height: 500px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.welcomeSection {
  position: relative;
  overflow: hidden;

  width: 100%;
  padding: 100px 0 140px;

  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.container {
  width: 90%;
  margin: auto;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header h2 {
  color: #5a2d82;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 3px solid #5a2d82;
  width: max-content;
}



.header p {
  width: 95%;
  font-size: 18px;
  line-height: 1.9;
  color: #666;
}

/* BIG BACKGROUND DIAMONDS */

.leftDiamond,
.rightDiamond {
  position: absolute;

  width: 420px;
  height: 420px;

  background: rgba(255, 255, 255, 0.25);

  transform: rotate(45deg);

  z-index: 0;
}

.leftDiamond {
  left: 150px;
  top: 450px;
}

.rightDiamond {
  right: 150px;
  top: 450px;
}

/* CARDS SECTION */

.cardsWrapper {
  margin-top: 180px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;

  position: relative;
  z-index: 2;
}

/* SIDE CARDS */

.card {
  width: 420px;
  min-height: 400px;

  padding: 35px 25px;

  background-size: cover;
  background-position: center;

  text-align: center;
}

.card img {
  width: 75px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 26px;
  color: #3e3e3e;
  margin-bottom: 18px;
  line-height: 1.4;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
}

/* CENTER SECTION */

.centerWrapper {
  position: relative;
}

/* SMALL TOP DIAMOND */

.smallDiamond {
  width: 85px;
  height: 85px;

  background: #ece5f5;

  position: absolute;

  left: 50%;
  top: -45px;

  transform: translateX(-50%) rotate(45deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.smallDiamondInner {
  transform: rotate(-45deg);
}

.smallDiamondInner img {
  width: 40px;
}

/* CENTER CARD */

.centerCard {
  width: 260px;
  min-height: 320px;

  padding: 80px 30px 40px;

  background-size: cover;
  background-position: center;

  text-align: center;

  color: white;
}

.centerCard h3 {
  font-size: 28px;
  line-height: 1.4;
  margin-bottom: 25px;
}

.centerCard p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 25px;
}

.centerCard button {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .cardsWrapper {
    gap: 50px;
  }

  .header h2 {
    font-size: 48px;
  }
}

@media (max-width: 992px) {
  .cardsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .leftDiamond,
  .rightDiamond {
    display: none;
  }
}

@media (max-width: 768px) {
  .header h2 {
    font-size: 36px;
  }

  .header p {
    font-size: 18px;
  }

  .centerCard,
  .card {
    width: 100%;
    max-width: 320px;
  }
}