.welcomeSection {
  position: relative;
  width: 100%;
  padding: 80px 0 150px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.container {
  width: 90%;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 100px;
}

.header h2 {
  color: #3d1f5c;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
  border-bottom: 4px solid #3d1f5c;
  width: max-content;
  position: relative;
}

.header h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  rotate: -3deg;
  width: 0;
  height: 0;
  border-left: 20px solid #3d1f5c;
  border-bottom: 20px solid transparent;
  border-top: 4px solid transparent;
}

.header p {
  width: 90%;
  font-size: 16px;
  line-height: 1.8;
  color: #888;
  font-weight: 400;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.diamondCard {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: pointer;
}

/* Background image */
.diamondBg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.35s ease;
}

/* Default and hover backgrounds */
.defaultBg,
.hoverBg {
  position: absolute;
  inset: 0;
}

.hoverBg {
  opacity: 0;
}

.diamondCard:hover .defaultBg {
  opacity: 0;
}

.diamondCard:hover .hoverBg {
  opacity: 1;
}

/* CONTENT */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

/* Static icons */
.staticIcon,
.centerIcon {
  width: 70px;
}

/* TEXT */
.content h3 {
  font-size: 20px;
  color: #444;
  margin: 0;
  transition: color 0.3s ease;
}

.content p {
  font-size: 14px;
  color: #666;
  transition: color 0.3s ease;
}

.content h6 {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  font-size: 14px;
  color: #444;
  transition: color 0.3s ease;
}

/* Hover text */
.diamondCard:hover .content h3,
.diamondCard:hover .content p,
.diamondCard:hover .content h6 {
  color: white;
}

/* Read more icon */
.readmore {
  height: 20px !important;
  width: 20px !important;
}

/* CENTER CARD */
.purpleContent {
  width: 62%;
  top: 51%;
  gap: 18px;
}

.purpleContent h3 {
  color: #444;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.3s ease;
}

.purpleContent p {
  color: #666;
  font-size: 13px;
  line-height: 1.7;
  width: 100%;
  transition: color 0.3s ease;
}

.purpleContent h6 {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #444;
  transition: color 0.3s ease;
}